@charset "utf-8";
/*头部*/
body{
    height:2290px;
}
header{
    width:100%;
    height:620px;
}
/*logo*/
header .logo_search{
    position: relative;
    width:100%;
    height:120px;
    background-color:#f5f6f0; 
}
header .logo_search .logo{
    position: absolute;
    left:6%;
    top:11px;
}
header .logo_search .search{
    position: absolute;
    width:286px;
    height:40px;
    right:10%;
    top:40px;
}
.logo_search .search .s_content{
    display: inline-block;
    width:220px;
    height:38px;
}
.search .s_content input{
    width:220px;
    height:38px;
    background-color: #fff;
    text-indent: 30px;
    color:#000;
    font-size:14px;
    border:1px solid #808080;
    border-radius: 20px 0 0 20px;
}
.s_content input:focus .s_content{
    border:1px solid #a1c3f7;
}
.logo_search .search > input{
    position: absolute;
    right:0;
    width:60px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background-color: #1877b7;
    font-size:14px;
    color:#fff;
    border:1px solid #898989;
    border-radius:0 25px 25px 0;
}
/*导航栏*/
nav{
    width:100%;
    height:54px;
    background-color: #1877b7;
}
nav > .nav_con{
    width:1170px;
    margin:0 auto;
    height:54px;
}
nav > .nav_con li{
    position: relative;
    width:130px;
    height:54px;
    background-color: #1877b7;
}
nav > .nav_con > li{
    float: left;
}
nav > .nav_con li a{
    position: absolute;
    display: inline-block;
    top:0;
    right:0;
    width:127px;
    height:54px;
    font-size: 18px;
    color:#fff;
    line-height: 54px;
    text-align: center;
}
nav > .nav_con li:hover > a{
    background-color: #1c97d5;
    border-left:3px solid red;
}
nav > .nav_con .menu_x{
    z-index: 1000;
    position: absolute;
    display:block;
    top:54px;
    left:0;
    perspective:400px;
    transform:rotateY(90deg);
    transition: 1s;
}
.nav_con li:hover .menu_x{
    transform:rotateY(0deg);
}
.nav_con .menu_x li{
    opacity: 0;
    transform:rotateY(90deg);
    transition:0.2s linear;
}
.nav_con .menu_x li:nth-child(1){
    transition-delay: 150ms;
}
.nav_con .menu_x li:nth-child(2){
    transition-delay: 200ms;
}
.nav_con .menu_x li:nth-child(3){
    transition-delay: 250ms;
}
.nav_con .menu_x li:nth-child(4){
    transition-delay: 300ms;
}
.nav_con .menu_x li:nth-child(5){
    transition-delay: 350ms;
}
.nav_con .menu_x li:nth-child(6){
    transition-delay: 400ms;
}
.nav_con li:hover .menu_x li{
    opacity: 1;
    transform:rotateY(0deg);
}
